<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons  slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="post">
    <img [src]="post.media_url" [style.width]="'100%'">
    <h1 class="padding">{{post?.title.rendered}}</h1>
    <p class="padding">{{post.date_gmt | date}}</p>
    <div class="padding" [innerHtml]="post.content.rendered"></div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar  color="primary">
    <ion-button color="light" expand="full" fill="clear" (click)="openURL()">
      Ouvrir dans le naviguateur
    </ion-button>
  </ion-toolbar>
</ion-footer>
