@media screen and (min-width: 850px) {
}
@media screen and (max-width: 850px) {
}
ion-content {
  --background: #f5f5f5;
  --padding-bottom: 0;
  --padding-end: auto;
  --padding-start: auto;
  --padding-top: 0;
}
div.profile {
  padding: 20px;
  margin: 0 auto;
}
ion-searchbar {
  --background: rgb(240, 255, 243);
}
ul#toolbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul#toolbar-menu li {
  float: right;
  padding: 5px;
  margin: 0 10px;
}
ul#toolbar-menu a {
  color: var(--ion-color-secondary);
}

.gray-radius {
  background: rgb(248, 248, 248);
  padding: 10px;
  margin: 5px 0;
  font-weight: 600;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.upload-btn-wrapper {
  padding: 0 0 0 20px;
  position: relative;
  overflow: hidden;
  display: block;
  width: 40%;
  cursor: pointer;
}
.btn {
  border: 2px solid var(--ion-color-dark);
  color: var(--ion-color-dark);
  background: #f5f5f5;
  padding: 12px;
  border-radius: 8px;
  font-size: 16px;
  margin: 0 auto !important;
  cursor: pointer;
}
.profile-image-wrapper input[type=file] {
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.profile-image-wrapper {
  text-align: center;
  margin: 20px 0;

  .profile-image {
    width: 96px;
    height: 96px;
    border-radius: 50%;

    display: inline-block;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .profile-image-placeholder {
    display: inline-block;

    background-color: #eee;
    width: 96px;
    height: 96px;
    border-radius: 50%;

    font-size: 12px;

    ion-icon {
      font-size: 44px;
      margin-bottom: -10px;
      margin-top: 10px;
    }
  }
}