ion-chip {
    --color: #fff;
}
  
ion-card img {
    object-fit: cover;
    height: 150px;
}
.rounded-dark-square {
    background-image: url("http://www.livingfengshui.ca/wp-content/uploads/2013/07/file7881255537584.jpg");
    height: 100%;
    width: 100%;
    position:relative;
    z-index:1;
}
.rounded-dark-square:after{
    content:"";
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    margin:auto;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.5);
    z-index:-1;
}
.title {
    margin: 0 auto;
    display: block;
    font-size: 1.25em;
    color: #ccc;
    text-align: center;
    padding: 40px 10px;
}
.transparent-dark {
    background: rgba(0, 0, 0, 0.5);
    height:100%;
}
a.home-rubrics {
    text-decoration: none;
}

ion-card-title {
    padding: 0 0 6px 10px;
}

p.grayed {
    padding: 10px 0 0 10px;
    color: rgb(216, 216, 216);
}

  
ion-card img {
    object-fit: cover;
    height: 200px;
    padding: 0;
}
  
.user-photo {
    height: 40px !important;
}
  
div.recent-opp {
    padding: 0 20px 20px 20px;
}
  
div.recent-opp h3 {
    margin-left: 15px;
    margin-bottom: 15px;
    border-left: 4px solid var(--ion-color-primary);
    padding-left: 10px;
}
  
ion-content {
    --background: #f5f5f5;
    --padding-bottom: 0;
    --padding-end: auto;
    --padding-start: auto;
    --padding-top: 0; 
}

ion-card {
    --background: #fff;
    margin: 20px !important;
}