<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Inscription
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="prev()"><ion-icon slot="start" name="arrow-back"></ion-icon> Préc.</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="next()">Suiv. <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-slides #signupSlider>
  <ion-slide>
    <ion-text *ngIf="submitAttempt" color="danger">Please fill out all details accurately.</ion-text>

    <ion-list>
      <form [formGroup]="slideOneForm">

        <ion-item>
          <ion-label position="floating">Prénom:</ion-label>
          <ion-input formControlName="firstName" type="text" [class.invalid]="!slideOneForm.controls.firstName.valid && (slideOneForm.controls.firstName.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!slideOneForm.controls.firstName.valid  && (slideOneForm.controls.firstName.dirty || submitAttempt)">
          <p>Please enter a valid first name.</p>
        </ion-item>
        
        <ion-item>
          <ion-label position="floating">Nom:</ion-label>
          <ion-input formControlName="lastName" type="text" [class.invalid]="!slideOneForm.controls.lastName.valid && (slideOneForm.controls.lastName.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!slideOneForm.controls.lastName.valid  && (slideOneForm.controls.lastName.dirty || submitAttempt)">
          <p>Please enter a valid last name.</p>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email:</ion-label>
          <ion-input formControlName="email" type="text" [class.invalid]="!slideOneForm.controls.email.valid && (slideOneForm.controls.email.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!slideOneForm.controls.email.valid  && (slideOneForm.controls.email.dirty || submitAttempt)">
          <p>Please enter a valid email.</p>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Mot de passe:</ion-label>
          <ion-input formControlName="password" type="text" [class.invalid]="!slideOneForm.controls.password.valid && (slideOneForm.controls.password.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="!slideOneForm.controls.password.valid  && (slideOneForm.controls.password.dirty || submitAttempt)">
          <p>Your password must be between 6 to 30 characters long!</p>
        </ion-item>

      </form>
    </ion-list>
  </ion-slide>

  <ion-slide>
    <ion-list>
      <form [formGroup]="slideTwoForm">
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input formControlName="username" type="text" [class.invalid]="!slideTwoForm.controls.username.valid && (slideTwoForm.controls.username.dirty || submitAttempt)"></ion-input>
        </ion-item>

        <ion-item *ngIf="slideTwoForm.controls.username.pending">
          <p>Checking username...</p>
        </ion-item>

        <ion-item *ngIf="!slideTwoForm.controls.username.valid && !slideTwoForm.controls.username.pending && (slideTwoForm.controls.username.dirty || submitAttempt)">
          <p>Sorry, that username can not be used!</p>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Privacy</ion-label>
          <ion-select formControlName="privacy" [class.invalid]="!slideTwoForm.controls.privacy.valid && (slideTwoForm.controls.privacy.dirty || submitAttempt)">
            <ion-select-option value="public" checked="true">Public</ion-select-option>
            <ion-select-option value="friends">Friends Only</ion-select-option>
            <ion-select-option value="private">Private</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Bio</ion-label>
          <ion-textarea placeholder="Optionnel" formControlName="bio"></ion-textarea>
        </ion-item>
      </form><br>

      <ion-button color="primary" (click)="signUp()">S'inscrire</ion-button>
    </ion-list>

  </ion-slide>

</ion-slides>

</ion-content>  