<ion-grid id="dark-menu">
  <ion-row align-items-center>
    <ion-col width-50>
      <a (click)="openPage('/rosnycadet')">
        <div class='home-big-menu'>
          <p text-center>Rosny Cadet</p>
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a>
        <div class='home-big-menu'>
          <p text-center>Opportunités <br> <em style="font-size: 9px; color: #b1b1b1;">(Bientôt...)</em></p>
        </div>
      </a>
      </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col width-50>
      <a>
        <div class='home-big-menu'>
          <p text-center>Rencontres <br> <em style="font-size: 9px; color: #b1b1b1;">(Bientôt...)</em></p>
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a>
        <div class='home-big-menu'>
          <p text-center>Leaders <br> <em style="font-size: 9px; color: #b1b1b1;">(Bientôt...)</em></p>
        </div>
      </a>
    </ion-col>
  </ion-row>

  <ion-row align-items-center>
    <ion-col width-50>
      <a>
        <div class='home-big-menu-red'>
          Jeux <br> <em style="font-size: 9px; color: #b1b1b1;">(Bientôt...)</em>
        </div>
      </a>
    </ion-col>
    <ion-col width-50>
      <a>
        <div class='home-big-menu-red'>
          Forum <br> <em style="font-size: 9px; color: #b1b1b1;">(Bientôt...)</em>
        </div>
      </a>
    </ion-col>
  </ion-row>
</ion-grid>