<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="/rosnycadet"></ion-back-button>
      </ion-buttons>
        <ion-title>Vision de Rosny CADET</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
<img src="../../../../assets/img/rc1.jpg" alt="">

<div class="middle-light">
  
  <h2> Vision de Rosny CADET</h2>

  Incarnée une image bien plus réaliste des problèmes des jeunes haïtiens, du monde entier et, du département du Nord-Ouest d’Haïti, en particulier les jeunes du Môle Saint-Nicolas, à la fois par rapport à ce qu’ils représentent comme effectif dans beaucoup de sociétés, par rapport aux quotidiens de ces jeunes et tous ce qu’ils disposent comme acquis devant l’aider à affronter les aléas de la vie dans maintenant et dans le futur, Rosny CADET est profondément convaincu qu’il faut servir à bon escient de ces jeunes au regard d’une multiple dimension, dont les dimensions Sociale et politique en sont les plus importantes.
  Aux résultats mitigés dans ses constats, Rosny CADET présente les jeunes comme le premier pilier sur lesquels qu’il faut miser en les impliquant à tous les échelons du développement de leurs communautés. Sa vision consiste à faire des jeunes non pas les spectateurs de nombreuses exigences auxquelles sont assujetties leurs sociétés, mais de préférence de véritables acteurs des changements sociaux que l’on souhaite tous pour nos sociétés.

</div>
<div class="bottom-blue">
  Souhaitant Adieu aux vielles pratiques rétrogrades qui rongent beaucoup de sociétés,notamment celle haïtienne, les jeunes doivent être au cœur de la mêlée politique, en faisant valoir leurs positions. Restant trop en marge des opérations courantes conçues pour la plupart pour eux, les jeunes doivent s’impliquer davantage, aussi bien dans la politique au niveau de leurs contrées respectives que dans toutes les activités qui touchent à leurs communautés, en vue de lutter pour les intérêts supérieurs des sociétés auxquelles ils appartiennent.
  Puisque les jeunes constituent la progéniture fertile de tout un ensemble de génération qui se sont succédé, et qui doivent dans un futur proche ou lointain prendre la rêne, la conception de Rosny CADET du développement des sociétés passe indubitablement par les jeunes. Donnons-les assez d’espace, et les invite à placer leurs pierres dans la construction de cette noble édifice, qui est la société, une société où chacun joue sa partition pleinement. Comme beaucoup d’activiste, il croit qu’il faut déconstruire toutes velléités visant à reléguer les jeunes au second rang. Pour lui les jeunes sont de véritables moteurs du changement social, puisqu’ils se dessinent maintes fois,comme le fer de lance de grandes transformations dans le monde
</div>
</ion-content>


<ion-footer>
<ion-toolbar color="primary"></ion-toolbar>
</ion-footer>
