<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-title>À propos</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="about-top">
  Je suis né dans une commune (Môle Saint-Nicolas), un département (Nord-Ouest), un pays (Haïti), où les jeunes ne sont pas importants, ne sont pas encadrés. <br><br>

  Mon objectif est de permettre à d’autres jeunes, que je les connaisse ou pas, d’avoir ce que je n’ai pas eu, pour qu’ils ne fassent autant d’efforts que moi. <br><br>

  <h1>Rosny CADET</h1>
  <em>Coordonateur Général du Secrétariat à la Jeunesse d'Haïti</em>
</div>
<hr>
<div class="updates">
  <strong>- 30 AVRIL 2020</strong><br>
  Les prochaines mises-à-jour sont prévues pour le 30 avril 2020! Seront inclues : <br><br>
  <ul>
    <li>La possibilité de créer un compte et de <strong>se connecter</strong>.</li>
    <li>La possibilité de trouver des <strong>Opportunités</strong>, de faire des <strong>Rencontres</strong>, et de découvrir de nouveuax <strong>Leaders</strong>.</li>
    <li>Les options de traduction de l'application en <strong>Français, Créole et Anglais</strong>.</li>
  </ul>
  <em>Version: 1.2.0</em>
</div>
</ion-content>
