<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="/rosnycadet"></ion-back-button>
      </ion-buttons>
        <ion-title>Famille de Rosny CADET</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<img src="../../../../assets/img/rc2.jpg" alt="">

<div class="middle-light">
  <h2>La Famille de Rosny CADET </h2>
  <p>
    Originaire du département du Nord-Ouest, Rosny CADET est le cinquième enfant d’une famille de six enfants dont cinq garçons et une fille.
    Son Père, Wilson CADET est Fonctionnaire de carrière dans la fonction publique haïtienne, notamment dans le domaine de l’enseignement, il commence à  exercer son métier d’enseignant à l’âge de 16 ans. 
    Ancien Directeur de l’École Nationale de Mare-Rouge, Ancien Directeur de l’École Saint Jean Bosco de Surprendre, Ancien Directeur de l’École Nationale de Damé, Ancien Directeur de l’École Nationale de Dos-D’Ane, Ancien Inspecteur de Zone, Ancien Directeur l’EFACAP de LACOMA/Jean Rabel, il est l’actuel inspecteur principal de BDS…

    Son brillant parcours dans le secteur éducatif haïtien lui a valu une marque de distinction l’année dernière, lors de la remise des plaques par le Ministère de l’Éducation Nationale et de la Formation Professionnelle avec environ une vingtaine d’enseignants pour leur ancienneté et leur performance dans le secteur.
    Yvette DOREUS est la mère de Rosny CADET. Institutrice de profession, elle est l’ancienne Directrice de l’école Nationale de Mare-Rouge et ancienne Professeure de Langues Vivantes au Collège la Fraternité de Mare-Rouge. Peine à se relever d’une maladie qu’elle a su supporter pendant plusieurs années, elle est décédée le 13 juin 2009. 
  </p>
</div>

<div class="bottom-blue">
  <p>
    Ayant reçu une formation de base solide, l’humilité, la discipline, et l’honnêteté demeurent les principes cardinaux qui guident les actions des frères et sœur CADET de Mare-Rouge, Môle Saint Nicolas.
    Wilbert CADET est le fils ainé. Il est médecin généraliste. Le cadet répond au nom de Jean Eddyson CADET, il est ingénieur en Informatique, Marcus CADET est le  troisième, il est Planificateur.
    L’unique fille de la famille dont le nom est Evelore CADET est médecin comme son frère ainé. Rosny CADET en est le cinquième fils de sa famille, il est politologue de formation.
    Et le dernier fils de la famille c’est Patrice CADET, il a étudié la gestion et l’économie, à l’Université d’État d’Haïti, respectivement à l’Institut National d’Administration, de Gestion et des Hautes Études Internationales (INAGHEI) et de la Faculté de Droit et des Sciences Économiques (FDSE). 
  </p>
</div>
</ion-content>


<ion-footer>
<ion-toolbar color="primary"></ion-toolbar>
</ion-footer>