ion-toolbar {
    --background: rgba(255, 255, 255, 0);
    --padding-start: 5px;
}

ion-menu-button {
    --background: var(--ion-color-primary);
    --color: #fff;
    --border-radius: 6px;
}

.show-background {
    border-style: none;
    background: var(--ion-color-primary);
}

ion-card img {
    object-fit: cover;
    height: 150px;
}

.header-md::after {
    background-image: none;
}
  
.header-ios ion-toolbar:last-child {
    --border-width: 0;
}

ion-chip {
    --color: #fff;
}

.title {
    margin: 0 auto;
    display: block;
    font-size: 1.25em;
    color: #ccc;
    text-align: center;
    padding: 40px 10px;
}
.transparent-dark {
    background: rgba(0, 0, 0, 0.5);
    height:100%;
}
a.home-rubrics {
    text-decoration: none;
}

ion-card-title {
    padding: 0 0 6px 10px;
}

p.grayed {
    padding: 10px 0 0 10px;
    color: rgb(216, 216, 216);
}

.user-photo {
    height: 40px !important;
}
  
div.recent-opp {
    padding: 0 20px 20px 20px;
}
  
div.recent-opp h3 {
    margin-left: 15px;
    margin-bottom: 15px;
    border-left: 4px solid var(--ion-color-primary);
    padding-left: 10px;
}
  
ion-content {
    --background: #f5f5f5;
    --padding-bottom: 0;
    --padding-end: auto;
    --padding-start: auto;
    --padding-top: 0; 
}

ion-card {
    --background: #fff;
    margin: 20px !important;
}

.padded {
    padding: 10px !important;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.yt-live-video {
    width: 100% !important;
    height: 270px !important;
    padding: 0 20px;
}

#video-live {
    margin: 20px auto 5px auto;
}

.news-sec-bg {
    background: #eee;
    padding: 20px !important;
}

.news-heading-h5 {
    border-bottom: 1px solid rgb(80, 80, 80);
    padding-bottom: 5px;
}

.header-title {
    color: rgb(41, 41, 41);
    background: #fff;
    border: 1px solid rgb(233, 233, 233);
    padding: 8px;
    border-radius: 10px;
    text-align: center;
  }
  ion-card-title, ion-card-subtitle {
    margin: 10px 10px 5px 10px;
}