<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="/rosnycadet"></ion-back-button>
      </ion-buttons>
        <ion-title>Parcours de Rosny CADET</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

<img src="../../../../assets/img/rc3.jpg" alt="">
  
<div class="middle-light">
  <h2>Parcours de Rosny CADET</h2>
  Né le 30 juin 1990 à Mare-Rouge, deuxième Section Communale de  Môle Saint Nicolas dans le département du Nord-Ouest, Rosny CADET est ce jeune prometteur dont le dynamisme n’est pas à démontrer, grâce à son leadership inouï. Ayant effectué une partie de ses études classiques dans sa commune natale, soit de la première année à neuvième année fondamentale, respectivement à l’École Nationale de Mare-Rouge et au Collège la Fraternité de Mare-Rouge, avant d’aller continuer au Petit Séminaire Collège Saint Martial pour le reste de ses études classiques. 
  Après de brillantes études Classiques, Rosny CADET a fréquenté l’Université d’État d’Haïti pour les sciences Politiques  à l’Institut National d’Administration, de Gestion et des Hautes Études Internationales (INAGHEI). Il a aussi effectué une étude en ingénierie politique à l’Institut Haïtien de Formation Politique des Pères Jésuites (IHFOP) avant qu’il ait entamé une étude en Diplomatie et Relations Internationales, au Centre d’Études Diplomatiques et Internationales (CEDI), étude qu’il n’a pas achevée.
</div>

<div class="bottom-blue">
  Amoureux du football ô talent époustouflant, dès son jeune âge il était toujours au cœur des événements sportifs de sa Commune natale, tantôt comme capitaine dans les championnats inter scolaires, tantôt comme simple joueur dans les clubs au niveau de sa commune, voire même organisateur de compétitions sportives. Poussé par cet amour qui semble être congénital, il avait même mis sur pied une équipe de football dénommée RoroCADET Football Club (RCFC) à Mare-Rouge. Issu d’une famille catholique, Membre du Mouvement Eucharistique des Jeunes (MEJ), en passant par Enfant de Chœur pour arriver Président de la Pastorale des Jeunes de Mare-Rouge en Juin 2007. Rosny CADET était très présent dans la vie de l’église de sa communauté. Ses multiples engagements à côté de ses pairs dans son milieu, que ce soit au niveau social ou religieux ne font que grandir son sentiment d’appartenance à cette jeunesse qui en a ras-le- bol de pratiques rétrogrades dont ses services s’avèrent nécessaires. 
</div>

<div class="middle-light">
  Très engagé Politiquement, en 2010, Rosny CADET faisait partie de  l’équipe de Campagne de son oncle, Eloune DOREUS, Candidat à la Députation pour la Circonscription  de Môle Saint Nicolas lors des législatives de 2011, pour briguer un deuxième mandat de Député. Élections que son oncle a remportées. En 2015, il faisait partie à nouveau de l’Équipe de Campagne du Député DOREUS, cette fois, la victoire ne lui a pas souri.
  Animé par le souci de se mettre au service de sa mère patrie à la hauteur de ses moyens, Rosny CADET a intégré la Chambre des Députés du Parlement Haïtien en 2014 à la Direction Administrative et Financière. Fort de sa rigueur, il est promu Assistant de l’actuel Secrétaire Général de la Chambre des Députés pour la 50ème Législature, l’ancien Député de Torbeck/Chantal Guy Gérard GEORGES.  Malgré ses engagements personnels, son attachement à sa commune, son amour pour le volontariat l’a conduit jusqu’à postuler pour le poste de Jeune-Député pour la circonscription de Môle Saint Nicolas lors du lancement de la quatrième Législature du Parlement Jeunesse d’Haïti (PJH) en 2015.
  Une fois, Jeune Député, son sens de créativité et sa culture de résultat l’ont hissé à la tête de la chambre des Jeunes-Députés avec un score imbattable lors des élections du Bureau en décembre 2016. Nourri l’idée de se rendre utile non pas uniquement aux Jeunes de sa seule Commune, l’infatigable Rosny CADET s’est redoublé d’effort, et a emboité le pas dans le deuxième programme ambitieux de l’Association des Volontaires pour la Démocratie (AVD), Gouvernement Jeunesse d’Haïti (GJH), où après un travail acharné dans le cadre de cette compétition, il est devenu le cinquième Jeune-Président de la République d’Haïti, le 02 Aout 2018. 
</div>
</ion-content>


<ion-footer>
<ion-toolbar color="primary"></ion-toolbar>
</ion-footer>